<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">

	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet"/>

	<title>{{ title | default: "987cj" }}</title>
</head>
<body class="font-sans h-screen flex flex-col">
	{% include 'components/header.liquid' %}

	<main class="grow px-7 sm:px-15 py-8">
		{{ content }}
	</main>

	{% include 'components/footer.liquid' %}

	<script src="/index.js"></script> 
</body>
</html>
