---
layout: layout.html
---

<header class="p-8 mb-8 inset-ring bg-neutral-50">
	<h1> {{ title }} </h1>
	<h3> {{ page.date | formatDateOutput }} </h3>
	<div class="flex flex-wrap">
	{% for tag in pagetags %}
		<h5 class="bg-green-500 my-1 mr-2 px-1">{{ tag }}</h5>
	{% endfor %}
	</div>
	<div class="flex flex-wrap mb-2">
	{% for tag in techstack %}
		<h5 class="bg-amber-500 mr-2 my-1 px-1">{{ tag }}</h5>
	{% endfor %}
	</div>
	<div class="flex flex-wrap">
	{% for link in links %}
		<a href="{{ link[1] }}" class="bg-green-500 hover:bg-lime-500 mr-2 p-2 font-semibold drop-shadow">
		{{ link[0] }}
		</a>
	{% endfor %}
	</div>
</header>

<div class="p-8 mb-8 inset-ring bg-neutral-50">
{{ content }}
</div>

{% if related_links %}
<div class="p-8 inset-ring bg-neutral-50">
	<h1>Related Links:</h1>
	{% for link in related_links %}
	<h2><a href="{{ link[1] }}">{{ link[0] }}</a></h2>
	{% endfor %}
</div>
{% endif %}