<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">

	<title>{{ title | default: "987cj" }}</title>
</head>
<body class="font-sans h-screen flex flex-col">
	<nav class="sticky inset-x-0 top-0 px-7 sm:px-15 py-3 drop-shadow-md bg-lime-600">
		<ul class="flex">
			<li class="pr-2 font-extrabold"><a href="/">987cj</a></li>
			<li class="pr-2 font-semibold">Projects</li>
			<li class="pr-2 font-semibold"><a href="/articles/">Articles</a></li>
			<li class="pr-2 font-semibold">Contact</li>
		</ul>
	</nav>
	<main class="grow px-7 sm:px-15 py-16">
		{{ content }}
	</main>
	<footer class="p-7 sm:px-15 bg-lime-700">
		<h1>Made using 11ty and Tailwind</h1>
	</footer>
</body>
</html>
