@import "tailwindcss";

body {
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, var(--color-gray-400) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-gray-400) 1px, transparent 1px);
  background-attachment: fixed;
}

@layer components {
	h1 {
    font-weight: var(--font-weight-semibold);
  }
  h2 {
    font-weight: var(--font-weight-semibold);
  }
  p {
    	padding-bottom: calc(var(--spacing) * 3);
  }
  ul {
    list-style-type: disc;
    margin-left: calc(var(--spacing) * 4);
  }
  a {
    color: var(--color-orange-600);
  }
  a:hover {
    color: var(--color-red-500);
    font-weight: 800;
  }
  a:active {
    color: var(--color-orange-800);
  }
}