---
layout: layout.html
scroll_text: ["HTML", "JavaScript", "CSS", "Tailwind", "C++", "WebDev", "GameDev"]
---
{% render 'components/scroll_text.liquid' with scroll_text as scroll_text %}

<div class="custom-section-bg">
<h1>Who am I?</h1>
<p>My name is Caitlin and I'm a student currently studying at Adelaide University. Here you can find my personal thoughts and works on technology. My main interests are in websites and games.</p>
</div>

<div class="custom-section-bg">
<h1>What is the Stash?</h1>
<p>The Stash is this website you're on right now! It's part portfolio, part blog - all made by yours truly.</p>
<h1>What's it made out of?</h1>
<p class="pb-0">The Stash was made using the following:</p>
<ul class="pb-3">
	<li>HTML, CSS, JavaScript - The Classics!</li>
	<li>Eleventy - Static Site Generator</li>
	<li>Liquid, Markdown - Templating (used with Eleventy)</li>
	<li>Tailwind - CSS Framework</li>
	<li>Remix Icon, Isocons - Icon Libraries</li>
</ul>
<h1>Learn more about the Stash!</h1>
<p>See the <a href="/projects/stash">project page</a>, this <a href="/articles/1">article</a> I wrote on it, as well as the <a href="">GitHub</a> page!</p>
</div>

{% include 'components/timeline.liquid'%}

<div class="block sm:flex sm:w-full sm:justify-between sm:gap-5 sm:items-start">
	<div class="custom-section-bg flex-1/2">
	<h1>Latest Projects</h1>
	{% for project in collections.project limit: 5 reversed offset: 1 %}
		<h2><a href="{{ project.url }}">
		{{ project.data.title }}
		</a></h2>
	{% endfor %}
	</div>

	<div class="custom-section-bg flex-1/2">
	<h1>Latest Articles</h1>
	{% for article in collections.article reversed limit:5 %}
		<h2><a href="{{ article.url }}">
		{{ article.data.title }}
		</a></h2>
	{% endfor %}
	</div>
</div>